// bower:scss
// endbower

//$darkbg: $primary;
//$darkbg-inverse: darken($darkbg,50%);
$btn-primary: red;  
$material-font-path: '/styles/fonts';
@import "../bower_components/bootstrap-material-design/sass/_variables.scss";
@import "../bower_components/bootstrap-material-design/sass/material.scss";

html, body {
   height: 100%; 
}
section{
	padding-top:60px;
	height: 100%;
}
section>.row{
	height: inherit;
}
#meumapa-container-mapa{
	height: 100%;
}
#meumapa-container-botoes-laterais{
    position: absolute;
    bottom: 15px;
    right: 0;
}
#meumapa-container-botoes-laterais a{
    margin-right: 15px;
    margin-top: 15px;
    display: block;
}/*Mobile Zoom*/
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
/*Geocomplete overrides*/
.pac-container{
    z-index: 1031;
}
/*Bootstrap overrides*/
.navbar-brand > img{
    display: inline;
}
.navbar-brand > span{
    display: inline;
}
/*Preloader (https://ihatetomatoes.net/create-css3-spinning-preloader/)*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $primary;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $warning;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $success;
    -webkit-animation: spin 4s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 4s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}