<div id="delegacias-fortaleza-modal-legenda" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Legenda</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
            <div data-ng-repeat="item in mapa.legenda">
              <div class="list-group-item">
                  <div class="row-action-primary">
                      <img class="circle" data-ng-src="{{item.icone}}" alt="{{item.nome}}">
                  </div>
                  <div class="row-content">
                      <div class="action-secondary"></div>
                      <h4 class="list-group-item-heading">{{item.nome}}</h4>
                      <p class="list-group-item-text">{{item.descricao}}</p>
                  </div>
              </div>
              <div data-ng-if="($index+1) < sobre.itemes.length" class="list-group-separator">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>